.titre {
  text-align: center;
}

.joueur {
  float: left;
}

.Ordinateur1 {
  float: left;
}

.Ordinateur2 {
  float: right;
}

.result {
  text-align: center;
}

button {
  background-color: #ecac35; /* Couleur de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 12px 24px; /* Espacement entre le texte et les bords */
  text-align: center; /* Centrer le texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Le bouton s'affiche en bloc */
  font-size: 16px; /* Taille de police */
  border-radius: 8px; /* Coins arrondis */
  transition: background-color 0.3s ease; /* Transition de la couleur de fond */
}

button:hover {
  background-color: #a36b2c; /* Couleur de fond au survol */
}

h1 {
  font-size: 2.5em; /* Taille de police */
  font-weight: bold; /* Graisse de police */
  text-align: center; /* Alignement du texte */
  margin-top: 30px; /* Marge en haut */
  margin-bottom: 20px; /* Marge en bas */
  color: orange; /* Couleur du texte */
}

p {
  color: rgb(188, 128, 15);
  font-weight: bold;
}


